.navigation {
    position: fixed;
    display: flex;
    width: 100%;
    color: #ffffff;


}
.navigation-shadow {
    background: rgb(2,0,36);
    background: linear-gradient( rgba(0, 0, 0, 0.72) 35%, rgba(0, 212, 255, 0) 100%);
}

.navigation a {
    color: white;
    font-weight: 300;
    font-size: 13px;
}

.navigation-scroll {

    color: #000000;
    /*box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);*/
    border-bottom: 1px solid #b6b6b6;

    transition: background-color 1s;
    background: rgb(255, 255, 255);

}

.navigation-scroll a {
    color: black;
    transition: color 1s;
}


.navigation-scroll h3{
    color: #9f82c9;
    transition: color 1s;
}
.navigation-selector {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0.9rem 0;
}

.brand-name {
    text-decoration: none;

    font-size: 1.3rem;
    display: flex;
}
.brand-name h3, .brand-name p{
    margin: 0 0 0 10px;
}

.brand-name h3{
    font-size: 16px;
}

.brand-name p{
    font-size: 12px;
}

.brand-name img{
    width: 50px;
}

.brand-name-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;

}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
}


.navigation-menu ul li:nth-child(2){
    margin: 0 90px;

}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #ab94e2;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}


@media screen and (max-width: 680px) {
    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
    }
    .navigation-menu li a:nth-child(1){
        margin: 0;
    }
    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}

